__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
build/
dist/
*.egg-info/
.conda/
*.log
log_*.txt
output_*.txt
uPrimer.txt
temp_*/
tmp*/
nucmer_alignments.*
test_nucmer.*
*.ep3
*.ps
*.delta
*.coords
*.fasta_diff
